@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

[data-theme="light"] {
    /* Base */
    --bg: #eff1f5;
    /* Mantle */
    --bg-links: #e6e9ef;
    /* Text */
    --fg: #4c4f69;
    /* Maroon */
    --fg-left: #e64553;
    /* Green */
    --fg-center: #40a02b;
    /* Sky */
    --fg-right: #04a5e5;
    /* Subtext1 */
    --fg-link: #5c5f77;
    /* Overlay0 */
    --border: #9ca0b0;
}

[data-theme="dark"] {
    --bg: #1e1e2e;
    --bg-links: #181825;
    --fg: #cdd6f4;
    --fg-left: #eba0ac;
    --fg-center: #a6e3a1;
    --fg-right: #89dceb;
    --fg-link: #bac2de;
    --border: #6c7086;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
    color: var(--fg);
}

.wrapper {
    background: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2vh 15vw;
}

.content {
    margin: auto;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: "Rubik", sans-serif;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

i {
    padding: 0 20px;
}

.header-item {
    width: 100%;
    padding: 5px;
    font-weight: 400;
}

.header-item {
    font-size: 2rem;
}

.links {
    padding: 30px 50px;
    border-radius: 16px;
    background: var(--bg-links);
    margin: 0 auto;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    min-height: 100%;
    align-self: stretch;
    font-size: 2rem;
}

.links i {
    font-size: 3rem;
}

.border-left {
    border-color: var(--fg-left);
}

.border-center {
    border-color: var(--fg-center);
}

.border-right {
    border-color: var(--fg-right);
}

.left {
    color: var(--fg-left);
}

.center {
    color: var(--fg-center);
}

.right {
    color: var(--fg-right);
}

.pic {
    width: 220px;
    border-radius: 220px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--border);
}

a {
    text-decoration: none;
    transition: color 0.25s;
    color: var(--fg-link);
}

.hover-left a:hover {
    transition: color 0.25s;
    color: var(--fg-left);
}

.hover-center a:hover {
    transition: color 0.25s;
    color: var(--fg-center);
}

.hover-right a:hover {
    transition: color 0.25s;
    color: var(--fg-right);
}
